* { 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    
}

body {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.header-top, .header-bottom {
    height: 100px;
}

h1, .header-bottom>p {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.header-bottom>p {
    font-size: 18px;
}

h1 {
    font-weight: bold;
    color: fuchsia;
    font-size: 50px;
 }
/* Regole di Stile per lo scheletro del contenuto */

main {
    margin-top: 50px;
}

.row1, .row2 {
    margin: auto;
}

.col {
    box-sizing: border-box;
    margin: 10px;
    width: calc(100% / 3 - 20px);
    float: left;
    
}

/* Stile di Card (a sua volta contiene img + sezione card-right con 3div) */

.card {
    width: 100%;
    margin-bottom: 30px;
}

.card::after {
    content: "";
    clear: both;
    display: table;
  }


.card>img {
    float: left;
    width: 100px;
}

.card-right {
    float: left;
    width: calc(100% - 100px);
}

.card-right::after {
    content: "";
    clear: both;
    display: table;
  }

.text {
    height: calc(100% / 3);
    line-height: calc(100px / 3);
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    background-color: black;  
}

.name {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.job {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.e-mail {
    color: rgb(100, 100, 255);
    text-decoration: underline;
    font-size: 18px;

}

.name .text .e-mail::after {
    content: "";
    clear: both;
    clear: left;
    clear: right;
    display: table;
}
Regola per debuggare elementi float in Row1/Row2 */

.row1::before {
    content: "";
    clear: both;
    display: table;
  }
  /* .card::after {
    content: "";
    clear: both;
    display: table;
  } */
  /* .col::after {
    content: "";
    clear: both;
    display: table;
  } */
main::after {
    content: "";
    clear: both;
    display: table;
  }

.container::after {
    content: "";
    clear: both;
    display: table;
  }